.login_container{
    width: 80%;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login > input{
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login > button{
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #7289da;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}